.personal_center_header{
	padding:20px 15px;
	.me_header{
		margin-bottom: 15px;
	}
}
.me_header_groups{
	text-align: center;
	padding:15px 10px 10px 10px;
	border-top:1px solid #e5e5e5;
	a{
		color: #232323;
		font-size:14px;
	}
}
.icon_img_school{
	display: inline-block;
	background: url(../images/me_icon_school.png) 0 0 no-repeat;
	background-size: cover;
	width:47*0.6px;
	height: 44*0.6px;
}
.icon_img_jiaolian{
	display: inline-block;
	background: url(../images/me_icon_jiaolian.png) 0 0 no-repeat;
	background-size: cover;
	width:39*0.6px;
	height: 43*0.6px;
}
.icon_img_tiku{
	display: inline-block;
	background: url(../images/me_icon_tiku.png) 0 0 no-repeat;
	background-size: cover;
	width:41*0.6px;
	height: 41*0.6px;
}

// 学习记录
.car_record{
	background: #fff;
	padding:20px 10px;
	border-radius:6px;
	margin-bottom: 15px;
}
.car_record_title{
	text-align: center;
	font-size:14px;
	color:#232323;
	.number{
		display: inline-block;
		background: #db4c3e;
		color: #fff;
		padding:0 4px;
		border-radius:6px;
		margin:0 2px;
	}
	.subject{
		margin:0 10px;
	}
	.link_tab{
		display: inline-block;
		border:1px solid #e5e5e5;
		border-radius:6px;
		color:#999;
		font-size:12px;
		padding:0 5px;
	}
}
.car_record_info{
	display: flex;
	padding:20px 10px 10px 10px;
}
.forecast{
	background: url(../images/forecast_bg.png) 0 0 no-repeat;
	background-size: contain;
	width:172*0.6px;
	height: 171*0.6-18px;
	padding-top:18px;
	text-align: center;
	.score{
		color: #999;
		font-size:22px;
	}
	.title{
		color:#232323;
		font-size:15px;
	}
}
.record_answer{
	flex:1;
	text-align: left;
	padding:5px 0 0 10%;
	p{
		color:#999;
		margin-bottom: 5px;
		.prominent{
			color:#232323;
			margin-left: 5px;
		}
	}
	a{
		color:#232323;
	}
	.weui-cell_access .weui-cell__ft:after{
		border-width:1px 1px 0 0;
		border-color:#232323;
		margin-top: -3px;
	}
}

// 连接功能区
.me_function{
	display: flex;
	flex-wrap:wrap;
	background: #fff;
	border-radius:6px;
	padding:15px 0;
	margin-bottom: 15px;
}
.me_fun_item{
	width:33%;
	flex-shrink:0;
	text-align: center;
	margin-bottom: 10px;
	color:#232323;
	font-size:14px;
	.dhhfont{
		font-size:32px;
	}
	.icon-yuyue,
	.icon-shequ{
		color: #f54d42;
	}
	.icon-jindu,
	.icon-huangguan{
		color: #7c63e5;
	}
	.icon-loop,
	.icon-dingdan{
		color: #75dcf8;
	}
	.icon-gps,
	.icon-liebiao1{
		color: #2ecc71;
	}
	.icon-star-outline{
		color: #fa9917;
	}
	.icon-me{
		color: #d980fa;
	}
	.icon-ticheng{
		color: #ffc312;
	}
}

.form_btn_group{
	padding:30px 15px;
}


.uploader_image{
	.weui-uploader__file{
		width:50px;
		height:50px;
	}
	.weui-uploader__input-box{
		width:50px;
		height:50px;
	}
}
.aboutus_logo{
	width:100px;
}
.company_info{
	background: #fff;
	margin-top: 10px;
	padding:20px;
	height: 100%;
}
.company_content{
	border:1px solid #232323;
	border-radius:5px;
	padding:10px;
	margin:30px 0 150px 0;
}


.progress_lists{
	padding:10px 10px 10px 60px;
}
.progress_item{
	background: #fff;
	border-radius:5px;
	position: relative;
	padding:10px;
	margin-bottom: 14px;
	font-size:15px;
	&:before{
		content:' ';
		position: absolute;
		border-left:1px solid #232323;
		top:20px;
		left:-30px;
		bottom:-30px;
	}
	&:after{
		content:' ';
		position: absolute;
		width:16px;
		height:16px;
		border-radius:100%;
		border:1px solid #232323;
		left:-38px;
		top:10px;
		background: #f0f0f0;
	}
	&:last-child{
		&:before{
			display: none;
		}
	}
	&.active{
		&:before{
			border-left:1px dotted #db4c3e;
		}
		&:after{
			background: #db4c3e;
			border-color:#db4c3e;
		}
		.icon-down-trangle{
			color: #db4c3e;
			transform: rotate(180deg);
			margin-top: 2px;
		}
		.title{
			border-bottom: 1px solid #e5e5e5;
			padding-bottom:10px;
		}
		.content{
			display: block;
		}
	}
	
	.title{
		clear: both;
		overflow: hidden;
	}
	.icon-down-trangle{
		float: right;
		font-size:24px;
		line-height: initial;
		margin-top: -3px;
	}
	.content{
		padding-top:10px;
		display: none;
	}
}

.tips{
	padding:10px 20px 10px 60px;
	font-size:14px;
	.title{
		color:#db4c3e;
		margin-bottom: 5px;
	}
}