.subject_tabs{
	display: flex;
	padding:10px 0;
	background: #fff;
	margin:10px 0 0 0;
	border-bottom:1px solid #e5e5e5;
	.subject_item{
		text-align: center;
		flex-grow: 1;
		+ .subject_item{
			border-left:1px solid #e5e5e5;
		}
		&.active{
			position: relative;
			&:after{
				content:' ';
				position: absolute;
				width:20px;
				height: 4px;
				background: #db4c3e;
				left:50%;
				bottom:-10px;
				margin-left:-10px;
			}
			a{
				color:#db4c3e;
			}
		}
	}
	a{
		color:#232323;
		display: inline-block;
		padding:4px 0;
		font-size:14px;
	}
}

.subject_topic{
	display: flex;
	background: #fff;
	padding:14px 7px;
	margin-bottom: 10px;
	.topic_item{
		padding:0 7px;
		flex-grow: 1;
		a{
			display: block;
			font-size:14px;
			text-align: center;
			padding:3px 0;
		}
	}
	.first{
		background: #f6e7fb;
		color:#a325cd;
	}
	.second{
		background: #e1f9fb;
		color:#25b1cd;
	}
	.third{
		background: #ffeeea;
		color:#ff6e71;
	}
}


.topic_content{
	background: #fff;
	margin-bottom: 10px;
}
.exercises{
	display: flex;
	padding:40px 0 10px 0;
	border-bottom:1px solid #e5e5e5;
	.circle{
		width:120px;
		height: 90px;
		border-radius:100%;
		text-align: center;
		color:#fff;
		font-size:18px;
		padding-top: 30px;
		margin:0 auto;
		>p{
			font-size:16px;
		}
	}
}
.exercises_items{
	width:100px;
}
.exercises_item{
	text-align: center;
	font-size:14px;
	margin-bottom: 30px;
	display: block;
	color:#232323;
}
.sequence_exercises{
	background: #017cf1;
	box-shadow: 0 0 10px #017cf1;
}
.practice_exercises{
	background: #7f73fb;
	box-shadow: 0 0 10px #7f73fb;
}
.practice_test{
	padding:40px 0;
	.exercises_items{
		padding-top: 30px;
	}
}

//图标
.icon_img_random{
	display: inline-block;
	background: url(../images/icon_random.png);
	background-size: cover;
	width: 61*0.6px;
	height: 51*0.6px;
}
.icon_img_special{
	display: inline-block;
	background: url(../images/icon_special.png);
	background-size: cover;
	width: 57*0.6px;
	height: 59*0.6px;
}
.icon_img_vip{
	display: inline-block;
	background: url(../images/icon_vip.png);
	background-size: cover;
	width: 39*0.6px;
	height: 55*0.6px;
}
.icon_img_collect{
	display: inline-block;
	background: url(../images/icon_collect.png);
	background-size: cover;
	width: 48*0.6px;
	height: 52*0.6px;
}
.icon_img_performance{
	display: inline-block;
	background: url(../images/icon_performance.png);
	background-size: cover;
	width: 47*0.6px;
	height: 48*0.6px;
}
.icon_img_ranking{
	display: inline-block;
	background: url(../images/icon_ranking.png);
	background-size: cover;
	width: 51*0.6px;
	height: 51*0.6px;
}
.icon_img_assured{
	display: inline-block;
	background: url(../images/icon_assured.png);
	background-size: cover;
	width: 30px;
	height: 30px;
}
.icon_img_sprint{
	display: inline-block;
	background: url(../images/icon_sprint.png);
	background-size: cover;
	width: 21px;
	height: 30px;
}


.artifact{
	.weui-flex__item{
		text-align: center;
		.icon_img_vip{
			width:21px;
			height: 30px;
		}
		.title{
			color:#232323;
			font-size:16px;
		}
		.desc{
			color:#999;
			font-size:13px;
		}
	}
}

.test_information_link{
	padding:20px 10px;
	display: block;
	background: #eb434e;
	color:#fff;
	border-radius:6px;
	display: flex;
	font-size:13px;
	position: relative;
	.can_select{
		width:100px;
		text-align: center;
		border-left: 1px solid #fff;
	}
	&:before{
		content:' ';
		position: absolute;
		right:10px;
		top:50%;
		width:10px;
		height:10px;
		background: #fff;
		transform:rotate(-45deg);
		margin-top: -5px;
	}
	&:after{
		content:' ';
		position: absolute;
		right:12px;
		top:50%;
		width:10px;
		height:10px;
		background: #eb434e;
		transform:rotate(-45deg);
		margin-top: -5px;
	}
}

.me_coach{
	.weui-media-box__title{
		font-size:16px;
		margin-bottom: 16px;
	}
	.weui-media-box__desc{
		font-size:13px;
	}
	.driving_school_name{
		font-size:13px;
		color:#999;
	}
	.tips{
		margin:20px 0;
		font-size:14px;
		.weui-badge{
			margin-right: 5px;
			padding:3px 10px;
		}
	}
	.telephone_counseling{
		line-height: 1;
		font-size:14px;
		margin-left: 10px;
		i{
			font-size:24px;
			text-align: center;
			color:#6a5cfb;
		}
	}
}
.parting_line{
	margin:10px 0 30px 0;
	font-size:13px;
	text-align: center;
	color: #999;
	border-bottom:1px solid #e5e5e5;
	.text{
		transform:translateY(50%);
		text-align: center;
		background: #fff;
		display: inline-block;
		padding:0 10px;
	}
}
.me_coach_groups{
	text-align: center;
	font-size:14px;
	.dhhfont{
		font-size:26px;
		background: #fbdadb;
		border-radius:100%;
		padding:5px;
		color:#ea474d;
	}
}

.driver_video{
	.weui-media-box__hd{
		width:100px;
		height: 70px;
	}
	.weui-media-box__thumb{
		width:100px;
		height: 70px;
	}
	.weui-badge{
		border-radius:8px 0 8px 0;
		padding:3px 8px;
		margin-right: 10px;
	}
	.weui-media-box__title{
		font-size:16px;
		margin-bottom: 5px;
	}
	.degree_difficulty{
		margin-top: 10px;
		font-size:14px;
	}
	.icon-xingxing{
		color:#db4c3e;
	}
	.weui-panel__ft{
		text-align: center;
		a{
			color:#999;
		}
	}
}

.video_content{
	background: #ccc;
}