.list-filter{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:52px;
	line-height: 52px;
	background: #fff;
	color:#232323;
	z-index: 503;
	.dhhfont{
		font-size:22px;
		margin:-5px 0 0 5px;
		display: inline-block;
		vertical-align: middle;
		line-height: 20px;
	}
	.icon-search{
		margin-top:-2px;
	}
}
.list-filter-header{
	.weui-flex__item{
		text-align: center;
	}
}
.list-filter-choice{
	position: fixed;
	top:52px;
	width:100%;
	background: #fff;
	z-index: 502;
	.weui-cells{
		margin:0;
	}
}

.list-filter-choice-mask{
	z-index: 501;
}
.filter-screen{
	.weui-cell__ft{
		color:#232323;
	}
	.weui-label{
		width:auto;
	}
	.weui-select{
		direction: rtl;
	}
}
.header_search{
	padding:10px 16px;
	border-bottom:1px solid #f0f0f0;
	text-align: left;
}
.search_input{
	background: #f0f0f0;
	height: 32px;
	line-height: 32px;
	border-radius:32px;
	padding:0px 20px 0 0;
	input{
		border:none;
		background: inherit;
		height: 30px;
		font-size:16px;
	}
	.icon-search{
		margin-top: 5px;
	}
}
.search-warp{
	padding:20px;
	.search-keys{
		margin-top: 10px;
	}
	.search-key{
		display: inline-block;
		padding:3px 16px;
		background: #e93e3e;
		color:#fff;
		font-size:16px;
		border-radius:16px;
		& + .search-key{
			margin-left: 10px;
		}
	}
}
.student-list{
	margin:62px 0 66px 0;
	a.weui-media-box{
		background: #fff;
		margin-bottom: 10px;
	}
	.weui-media-box:before{
		display: none;
	}
	.student-list-item{
		&.weui-media-box_appmsg .weui-media-box__hd{
			height:100px;
			width:100px;
		}
		.distance{
			color:#999;
			font-size:14px;
			text-align: right;
		}
		.icon-man,
		.icon-girl{
			margin-left: 5px;
			font-size:18px;
			color: #de336c;
		}
		.weui-media-box__thumb{
			
			border-radius:5px;
		}
		.weui-media-box__title{
			font-size:18px;
			color:#232323;
			margin-bottom: 5px;
		}
		.secondary-title{
			font-size:18px;
		}
		.weui-badge{
			font-size:16px;
			padding:1px 10px;
			border-radius:8px;
			margin:-4px 10px 0 0;
			vertical-align: middle;
			background: #db4c3e;
		}
		.weui-media-box__desc{
			color:#999;
			font-size:16px;
			margin-top: 20px;
		}
	}
}

.tabbar-coach{
	position: fixed;
	box-shadow:0 0 20px #dad8d8;
	&:before{
		display: none;
	}
	.weui-tabbar__item{
		padding:0 0 -5px 0;
	}
	.weui-tabbar__label{
		font-size:13px;
	}
	.weui-bar__item_on{
		i.weui-tabbar__icon,
		.weui-tabbar__label{
			color:#f54d42;
		}
		
	}
}

.student-info{
	background: #fff;
	border-radius:10px;
	position: absolute;
	top:50%;
	width: 100%;
	z-index: 1001;
	margin-top: -200px;
	.student-list{
		border-radius:10px 10px 0 0;
		background: #f0f0f0;
		margin:0;
		padding-bottom: 10px;
	}
	.student-list-item{
		border-radius:10px 10px 0 0;
		background: #fff;
	}
	.kcb_item_title .weui-flex__item + .weui-flex__item{
		border:none;
	}
	.student-kcb-content{
		border-bottom: 1px solid #f0f0f0;
	}
}
.student-btn-group{
	width: 300px;
	margin:40px auto;
	display: flex;
	justify-content:space-between;
	.btn{
		display: block;
		height: 44px;
		line-height: 44px;
		font-size:18px;
		text-align: center;
		border-radius:8px;
		color:#fff;
		flex-grow:1;
	}
	.btn-agree{
		background: #db4c3e;
		margin-right: 30px;
	}
	.btn-refuse{
		background: #333;
	}
}