body{
	color:#232323;
}
.gray-bg{
	background: #f0f0f0;
}
.page-content{
	margin-bottom: 56px;
}
.text-center{
	text-align: center;
}
.noscroll,
.noscroll body {
    overflow: hidden;
    position: relative;
}