.buycar_search{
	padding:15px 15px 5px 15px;
	position: relative;
	background: #fff;
	.input{
		display: block;
		width:100%;
		box-sizing: border-box;
		height: 38px;
		padding:10px 10px 10px 30px;
		border:1px solid #ccc;
		box-shadow:none;
		font-size:16px;
		border-radius:4px;
		background: #f4f4f4;
	}
	.weui-icon-search{
		position: absolute;
		font-size:18px;
		left:18px;
		top:25px;
	}
}

.icon-xinche{
	background: #586c94;
}
.icon-fangxiangpan{
	background: #fe6767;
}
.icon-chexianbijia{
	background: #00d9aa;
}
.icon-woyaotaoche{
	background: #0baaf6;
}
.icon-chexian-baoxian{
	background: #77d642;
}
.car_model_select{
	margin: 10px 0;
	background: #fff;
	padding:15px;
	.mall_main_links{
		+ .mall_main_links{
			margin-top: 10px;
		}
		
	}
	.select_item{
		background: #f7f7f7;
		border-radius:3px;
		.link_name{
			margin:6px 0;
		}
		& + .select_item{
			margin-left: 10px;
		}
	}
	.car_icon{
		display: block;
		width: 60px;
		margin:0 auto;
	}
	.car_model_icon{
		display: block;
		width: 80px;
		margin:0 auto;
	}
}


.car_model_lists{
	.weui-cell__ft{
		&:after{
			display: none;
		}
	}
}

.car_sidebar{
	position: fixed;
	right: 0px;
	top: 50%;
	transform: translate(0,-50%);
	width: 20px;
	z-index: 10;
	display: flex;
	flex-direction:column;
	line-height: 1.4;
	a{
		display: block;
		text-align: center;
		font-size:14px;
	}
}

.selected_show{
	font-size:48px;
	position: fixed;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}